<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
        <listeners>
            <listener class-name="listners.CustomListners"></listener>
        </listeners>
    
    <test verbose="2" preserve-order="true" name="D:/SeleniumFramework/src/listners/ListnersTest.java">
        <classes>
            <class name="listners.ListnersTest"/>
        </classes>
    </test>
</suite>